.markdown {
    font: 1.3em Vollkorn,"Microsoft YaHei",微软雅黑,宋体;
    color: #333;
    line-height: 1.4;
    text-align: justify
}

    .markdown img {
        border: 0;
        max-width: 100%;
        display: block;
        max-height: 50vh
    }

    .markdown table {
        width: 100%;
        border-collapse: collapse;
        padding: 5px
    }

        .markdown table > thead {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2
        }

            .markdown table > thead > tr > th {
                text-align: left;
                border-bottom: 2px solid rgba(0,0,0,.69);
                padding: .25rem .5rem
            }

            .markdown table > thead > tr > td {
                padding: .25rem .5rem
            }

        .markdown table:not(:first-child) {
            margin-top: 1rem
        }

        .markdown table > tbody > tr > th {
            padding: .25rem .5rem
        }

        .markdown table > tbody > tr > td {
            padding: .25rem .5rem
        }

        .markdown table > tbody > tr + tr > td {
            border-top: 1px solid rgba(0,0,0,.18)
        }

        .markdown table td, .markdown table th {
            padding: 5px;
            text-align: left
        }

    .markdown header {
        width: 700px;
        margin: 0 auto
    }

    .markdown nav {
        width: 700px;
        margin: 0 auto;
        font-size: .9em;
        font-style: italic;
        border-bottom: 1px solid #ddd;
        padding: 1em 0
    }

        .markdown nav p {
            margin: 0
        }

    .markdown article {
        width: 700px;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 4em;
        min-height: 400px
    }

    .markdown footer {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 50px
    }

    .markdown video {
        margin: 2em 0;
        border: 1px solid #ddd
    }

    .markdown h1 {
        margin-top: 0;
        font-weight: 400;
        font-size: 2.5rem;
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        border-bottom: 2px solid #f83929
    }

        .markdown h1 a {
            color: #333;
            text-decoration: none
        }

            .markdown h1 a:hover {
                color: #333;
                text-decoration: none
            }

        .markdown h1:first-child {
            margin-top: 0
        }

    .markdown h2 {
        font-weight: 400;
        font-size: 2rem;
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        border-bottom: 1px solid #f83929
    }

        .markdown h2:first-child {
            margin-top: 0
        }

    .markdown h3 {
        font-weight: 400;
        margin-top: 3em;
        font-size: 1.5rem;
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        border-bottom: 1px solid #f83929
    }

        .markdown h3:first-child {
            margin-top: 0
        }

    .markdown p {
        margin-top: 0;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin: 0
    }

        .markdown p#heart {
            font-size: 2em;
            line-height: 1;
            text-align: center;
            color: #ccc
        }

        .markdown p:not(:first-child) {
            margin-top: 1rem
        }

    .markdown ul {
        list-style: square;
        padding-left: 1.2em;
        padding: 0 0 0 2rem;
        margin: 0
    }

        .markdown ul:not(:first-child) {
            margin-top: 1rem
        }

    .markdown ol {
        padding-left: 1.2em;
        padding: 0 0 0 2rem;
        margin: 0
    }

        .markdown ol:not(:first-child) {
            margin-top: 1rem
        }

    .markdown blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 1px solid #ddd;
        margin: 0 0 0 .25rem;
        padding-left: .65rem;
        border-left: .25rem solid #007acc;
        background: rgba(127,127,127,.1)
    }

        .markdown blockquote:not(:first-child) {
            margin-top: 1rem
        }

    .markdown a {
        color: #2484c1;
        color: #007acc;
        text-decoration: none
    }

        .markdown a:hover {
            text-decoration: underline;
            color: #007acc;
            text-decoration: underline
        }

        .markdown a img {
            border: none
        }

        .markdown a:visited {
            color: #007acc
        }

        .markdown a:active {
            text-decoration: underline
        }

    .markdown hr {
        color: #ddd;
        height: 1px;
        margin: 2em 0;
        border-top: solid 1px #ddd;
        border-bottom: none;
        border-left: 0;
        border-right: 0;
        display: block;
        border: 0;
        height: 2px;
        border-bottom: 2px solid rgba(0,0,0,.18);
        margin: 0
    }

        .markdown hr:not(:first-child) {
            margin-top: 1rem
        }

    .markdown .red {
        color: #b50000
    }

    .markdown h4 {
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        font-weight: 700;
        color: #444;
        font-size: 1.2rem
    }

        .markdown h4:first-child {
            margin-top: 0
        }

    .markdown h5 {
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        font-weight: 700;
        color: #444;
        font-size: 1.1rem
    }

        .markdown h5:first-child {
            margin-top: 0
        }

    .markdown h6 {
        font-weight: 400;
        color: #111;
        line-height: 1.2;
        margin: 1em 0 .6em;
        font-weight: 700;
        color: #444;
        font-size: .9rem
    }

        .markdown h6:first-child {
            margin-top: 0
        }

    .markdown b {
        font-weight: 700
    }

    .markdown strong {
        font-weight: 700
    }

    .markdown i {
        font-style: italic
    }

    .markdown em {
        font-style: italic
    }

    .markdown s {
        text-decoration: line-through
    }

    .markdown del {
        text-decoration: line-through
    }

    .markdown sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        bottom: -.25rem
    }

    .markdown sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -.5rem
    }

    .markdown code {
        font-family: Menlo,Monaco,Consolas,Droid Sans Mono,Courier New,monospace,Microsoft YaHei,微软雅黑,宋体;
        background: rgba(127,127,127,.05);
        border: 1px solid rgba(0,0,0,.18);
        border-radius: .25rem;
        font-size: .9em
    }

    .markdown pre {
        white-space: pre-wrap;
        word-wrap: normal !important;
        overflow-x: auto;
        margin: 0;
        background: rgba(127,127,127,.05);
        border: 1px solid rgba(0,0,0,.18)
    }

        .markdown pre > code {
            white-space: pre !important;
            display: block;
            padding: .65rem 1rem;
            background-color: transparent;
            border: none
        }

        .markdown pre:not(:first-child) {
            margin-top: 1rem
        }
