<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="d73dea50-7ea4-4961-8698-bd2e9b7842dc"
    Publisher="CN=zodream"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>ZoDream.LogTimer (Package)</DisplayName>
    <PublisherDisplayName>zodream</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
	  <Resource Language="en-US"/>
	  <Resource Language="zh-Hans"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="我的时间回忆薄"
        Description="通过记录平时的有效时间，生成历史记录"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Type="include" Match="https://*.zodream.cn" WindowsRuntimeAccess="none"/>
      </uap:ApplicationContentUriRules>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="zodream">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="zodream/file">.zodream</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>zodrem timer</uap:DisplayName>
            <uap:Logo>Images\logo.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="zodream">
            <uap:Logo>Images\logo.png</uap:Logo>
            <uap:DisplayName>zodrem timer</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>
